.Espaciopls2{
    padding-right: 60px;
}

.Distanciapls{
    margin-top: 20px;
}

.col-md-4{
.iva{
  
    padding-left: 500px;  
    
                  
}

.total{
      padding-left: 500px;
          
}
}